/*----- General Formating -----*/
body, html {
    font-family: 'nanumgothic-regular-webfont'; Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #ffffff;
    color:#272727;
    font-size: 1.0em;
    line-height: 160%;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

  a:active, a:focus {outline: none;}
  
  main {
    margin: 3em 1em;

  }

ul { list-style: none } 
li { display: block }

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  font-size: 1em;
  letter-spacing: 2px;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #000000;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
/*----- Menu -----*/

nav {
    margin: 0 auto;
    width: 100%;
    height: 5em;
    text-align: right;
    position: relative;
    background: rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid rgb(109, 109, 109);
  }
  
  nav ul {
    margin: 0;
    padding: 0.5em 0 0 0;
    height: 100vh;
  }
  
  nav ul li {
    list-style: none;
    margin: 0;
    display: inline;
  }
  
  nav ul li a {
    color: #6ab199;
    position: relative;
    padding: 0 0 0.5em 0;
    display: inline-block;
    text-decoration: none;

  }
  nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}
  nav ul.menu li a:hover {
    text-decoration: none;
    color: black;
  }
  /*----------------*/

  /*----- Media Queries -----*/
@media screen and (min-width: 961px) {
    nav ul.menu {
      max-height: 20px;
    }
    nav a#nav-m,
    nav a.close {
      display: none;
    }
    nav ul li {
      margin: 0 30px 0 0;
    }
  #desktop {margin-left: -90px}
  }
  
  @media screen and (max-width: 960px)  {
    /*Formatierung Mobiles Menue*/

    nav ul {
      top: 20em;
      position: absolute;
      background: #ffffff;
      width: 100%;
      left: -105%;
      z-index:1000000;
      opacity: 90%;
      font-size: 1.2em;
  
      list-style-type:none;
      margin: 0;
      padding: 0;
  
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  
    nav ul li{
      display: block;
      text-align: left;
      padding: 0em 0.5em;
      border-bottom: 0px solid #8f8f8f;
    }
  
    nav ul li a {
      color: #8f8f8f;
      padding: 1em 0;
    }
  
    nav ul.menu li a:hover {
      border-bottom: 0;
    }
  
    /*Hamburger-Icon*/
    nav a#nav-m img,
    nav a.close img {
      width: 40px;
      height: auto;
    }
  
    nav > .close,
    nav a#nav-m:target {
      display: none;
    }
  
    nav a:target ~ ul,
    nav a:target ~ .close {
      display: inline-block;
	position: fixed;
    }
  
    nav a:target ~ .close {
      position: absolute;
      margin-left: -40px;
    }
  
    nav a:target ~ ul {
      left: 0;
    }
#mobil {text-align: center;
}
  }

.img-icon { 
    display: block; 
    margin: auto; 
    width: 50%; 
   }

   div.img-icon {
	width: 100%;
	height: auto;
	/* SCALE */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	/* VERZÃ–GERUNG */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
div.img-icon:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
