/*----- General Formating -----*/
  *, *:before, *:after {
    box-sizing: border-box;
  }

  a:active, a:focus {outline: none;}
  
  main {
    margin: 3em 1em;

  }

ul { list-style: none } 
li { display: block }

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  font-size: 1em;
  letter-spacing: 2px;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #000000;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
/*----- Menu -----*/

nav {
    margin: 0 auto;
    width: 100%;
    height: 5em;
    text-align: right;
    position: relative;
    background: rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid rgb(109, 109, 109);
  }
  
  nav ul {
    margin: 0;
    padding: 0.5em 0 0 0;
    height: 100vh;
  }
  
  nav ul li {
    list-style: none;
    margin: 0;
    display: inline;
  }
  
  nav ul li a {
    color: #6ab199;
    position: relative;
    padding: 0 0 0.5em 0;
    display: inline-block;
    text-decoration: none;

  }
  nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}
  nav ul.menu li a:hover {
    text-decoration: none;
    color: black;
  }
  /*----------------*/

  /*----- Media Queries -----*/
@media screen and (min-width: 961px) {
    nav ul.menu {
      max-height: 20px;
    }
    nav a#nav-m,
    nav a.close {
      display: none;
    }
    nav ul li {
      margin: 0 30px 0 0;
    }
  #desktop {margin-left: -90px}
  }
