body {
    font-family: Open Sans, Arial, sans-serif;
}

h1 {
    margin-top:20px !important;
}

h3 { 
    font-size: 18px !important; 
   }

p { 
    font-size: 14px !important; 
   }

.container {
    background:#fff;
    padding:10px;
    border-radius:8px;
}

.dropzone {
    border:2px dashed #aaa;
    padding:70px;
    text-align:center;
    cursor:pointer;
    margin-bottom:20px;
}

.dropzone.dragover {
    background:#eef;
}

input[type=range] {
    width:100%;
}

.previewItem {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-top:20px;
    padding:15px;
    border:1px solid #ddd;
    background:#fafafa;
    border-radius:6px;
}

.previewItem img {
    width:100%;
    max-height:280px;
    object-fit:contain;
    background:#fff;
    border:1px solid #ccc;
}

.info {
    grid-column:span 2;
    font-size:14px;
}

.download {
    grid-column:span 2;
    background:#4CAF50;
    color:white;
    text-align:center;
    padding:10px;
    border-radius:5px;
    text-decoration:none;
}

.tab {
    padding:15px 15px;
    cursor:pointer;
    border-bottom:3px solid transparent;
    text-decoration:none;
    color:inherit;
}
.tab:hover {
    background:#f5f5f5;
}

.tab.active {
    font-weight:bold;
}

.label {
    margin-top:30px;
}

#zipBtn {
    background:#4CAF50;
    color:white;
    width:100%;
    padding:10px;
    border:none;
}
#breadcrumbs a {
    text-decoration:none;
    font-size: 10px;
    color:grey;
}

#breadcrumbs a:hover {
    text-decoration:underline;
}
